{% extends "base.html" %}
{% load static %}

{% block title %}
    文章详情
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="col-12">
                    <!-- 标题及作者 -->
                    <h1 class="mt-4 mb-4">{{ article.title }}</h1>
                    <div class="alert alert-success">
                        作者：{{ article.author }}
                        {% if user == article.author %}
                            <a href="#" onclick="confirm_delete()">删除文章</a>
                            <a href="{% url "article:article_update" article.id%}">修改文章</a>
                        {% endif %}
                        <form style="display: none;"
                              id = "safe_delete"
                              action="{% url 'article:article_safe_delete' article.id %}"
                              method="POST">
                            {% csrf_token %}
                            <button type="submit">发送</button>
                        </form>
                    </div>
                    <!-- 文章正文 -->
                    <div class="col-12">
                        <p>{{ article.body|safe }}</p>
                    </div>
                </div>
                <hr>
                <br>

                <!--显示评论-->
                <h4>共有{{ comments.count }}条评论</h4>
                <div>
                    {% for comment in comments %}
                        <p>
                            <strong style="color:pink">
                                {{ comment.user }}
                            </strong>
                            <span style="color:green">
                                {{ comment.created|date:"Y-m-d H:i:s" }}
                            </span>
                            <span style="color:rebeccapurple">
                                {% if user == comment.user %}
                                <a href="{% url "comment:delete_comment" comment.id %}">删除</a>
                                {% endif %}
                            </span>
                        </p>
                        <pre style="font-family: inherit; font-size:1em">{{ comment.body }}</pre>
                        <hr>
                    {% endfor %}
                </div>
                <br>

                <!--评论-->
                {% if user.is_authenticated %}
                    <div>
                        <form action="{% url "comment:post_comment" article.id %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label for="body">
                                    <strong>
                                        留言：
                                    </strong>
                                </label>
                                <textarea type="text" class="form-control" id="body" name="body" rows="2"></textarea>
                            </div>
                            <button type="submit" class="btn btn-primary">发送</button>
                        </form>
                    </div>
                {% else %}
                    <br>
                    <h5 class="row justify-content-center">
                        请<a href="{% url 'userprofile:login' %}">登录</a>后留言
                    </h5>
                    <br>
                {% endif %}
            </div>

            <!--目录-->
            <div class="col-3 mt-4">
                <h4><strong>目录</strong></h4>
                <hr>
                <div>
                    {{ toc|safe }}
                </div>
            </div>
        </div>
    </div>

    <script>
    //删除文章的函数
    function confirm_delete() {
        layer.open({
            title:"确认删除",
            content:"确认删除这篇文章吗？",
            yes:function (index, layero) {
                $('form#safe_delete button').click();
                layers.close(index);
            },
        })
    }
    </script>
{% endblock content %}